/.vs/slnx.sqlite
/.vs/tmp2/FileContentIndex/f12e83d8-9802-47e0-8f0f-a7ed1b0b645d.vsidx
/.vs/tmp2/FileContentIndex/read.lock
/.vs/tmp2/FileContentIndex/39590ff2-5b2d-4bc9-b8ba-c3c3fb4774a4.vsidx
/.vs/tmp2/FileContentIndex/3e829307-4e91-4252-8c72-8c6c6cf15b8b.vsidx
/.vs/tmp2/FileContentIndex/51cd1412-28a3-4274-b318-ed7ac794b3a2.vsidx
/.vs/tmp2/v17/.suo
/PermissionsControlController.cs.bak
